@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section-padding {
    @apply px-4;
  }
  .button-padding {
    @apply p-2;
  }
}
.grid-container {
  user-select: none;
  --gap: 0.5rem;
  display: grid;
  translate: -43% 0;
  grid-auto-flow: column;
  grid-auto-columns: 60%;
  gap: var(--gap);
}
